footer {
    margin-top: 50px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    opacity: 55%;
}

@media(max-width: 800px){
    footer {
        justify-content: center;
    }
}