@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Kdam Thmor Pro', sans-serif;
  outline: none;
  box-sizing: border-box;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#banner {
  background-image: url('https://i.pinimg.com/originals/a3/b7/5f/a3b75fc4596194394215c3083b89d086.jpg');
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 600px;
}

@media(max-width: 768px) {

  #banner {
      background-position: 40%;
      height: 300px;
  }
}
